<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <category
            name="Category"
            id="com.helospark.spark.builder.commands.category">
      </category>
      <command
            name="Generate Default Builder"
            categoryId="com.helospark.spark.builder.commands.category"
            id="com.helospark.spark.builder.commands.generateDefaultBuilderCommand" />
      <command
            name="Generate Regular Builder"
            categoryId="com.helospark.spark.builder.commands.category"
            id="com.helospark.spark.builder.commands.generateBuilderCommand" />
      <command
            name="Generate Staged Builder"
            categoryId="com.helospark.spark.builder.commands.category"
            id="com.helospark.spark.builder.commands.generateStagedBuilderCommand" />
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.helospark.spark.builder.commands.generateBuilderCommand" class="com.helospark.spark.builder.handlers.GenerateRegularBuilderHandler">
        <enabledWhen>
          <or>
            <with variable="activePartId">
              <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
            </with>
            <with variable="activeMenuSelection">
              <iterate ifEmpty="false" operator="and">
                <or>
                  <adapt type="org.eclipse.jdt.core.IType" />
                  <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                </or>
              </iterate>
            </with>
          </or>
        </enabledWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.helospark.spark.builder.commands.generateStagedBuilderCommand" class="com.helospark.spark.builder.handlers.GenerateStagedBuilderHandler">
        <enabledWhen>
          <or>
            <with variable="activePartId">
              <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
            </with>
            <with variable="activeMenuSelection">
              <iterate ifEmpty="false" operator="and">
                <or>
                  <adapt type="org.eclipse.jdt.core.IType" />
                  <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                </or>
              </iterate>
            </with>
          </or>
        </enabledWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.helospark.spark.builder.commands.generateDefaultBuilderCommand" class="com.helospark.spark.builder.handlers.GenerateDefaultBuilderHandler">
        <enabledWhen>
          <or>
            <with variable="activePartId">
              <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
            </with>
            <with variable="activeMenuSelection">
              <iterate ifEmpty="false" operator="and">
                <or>
                  <adapt type="org.eclipse.jdt.core.IType" />
                  <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                </or>
              </iterate>
            </with>
          </or>
        </enabledWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.helospark.spark.builder.commands.generateDefaultBuilderCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key commandId="com.helospark.spark.builder.commands.generateBuilderCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key commandId="com.helospark.spark.builder.commands.generateStagedBuilderCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+B"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="com.helospark.spark.builder.toolbars.generateBuilderToolbar">
            <command
                  commandId="com.helospark.spark.builder.commands.generateDefaultBuilderCommand"
                  icon="icons/builder.gif"
                  tooltip="Generate default builder (ctrl+shift+b)"
                  id="com.helospark.spark.builder.toolbars.generateBuilderCommand"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution locationURI="menu:com.helospark.spark.builder.toolbars.generateBuilderCommand">
        <command commandId="com.helospark.spark.builder.commands.generateBuilderCommand" label="Generate regular builder" style="push" />
        <command commandId="com.helospark.spark.builder.commands.generateStagedBuilderCommand" label="Generate staged builder" style="push" />
      </menuContribution>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.helospark.spark.builder.preferences.PluginPreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
         category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
         id="com.helospark.SparkBuilderPluginPreference"
         class="com.helospark.spark.builder.preferences.BuilderGeneratorPreferences"
         name="Spark Builder generator">
      </page>
   </extension>
</plugin>
