<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="stt"
            icon="sample/icon.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.helospark.sparktemplatingplugin.editor.TemplatingToolEditor"
            id="com.helospark.sparktemplatingplugin.editor.TemplatingToolEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.helospark.SparkTemplatingPlugin.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="com.helospark.SparkTemplatingPlugin.commands.category"
            id="com.helospark.SparkTemplatingPlugin.commands.sampleCommand">
      </command>
      <command
      		name="Open dialog command"
            id="com.helospark.sparktemplatingplugin.handlers.openDialog"
            categoryId="com.helospark.SparkTemplatingPlugin.commands.category">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand"
            class="com.helospark.sparktemplatingplugin.handlers.SampleHandler">
      </handler>
      <handler
            commandId="com.helospark.sparktemplatingplugin.handlers.openDialog"
            class="com.helospark.sparktemplatingplugin.handlers.DialogHandler">
      </handler>
      <handler
            commandId="com.helospark.SparkTemplatingPlugin.commands.exportCommand"
            class="com.helospark.sparktemplatingplugin.scriptexport.ExportTamplatesHandler" />
      <handler
            commandId="com.helospark.SparkTemplatingPlugin.commands.importCommand"
            class="com.helospark.sparktemplatingplugin.scriptimport.ImportTemplatesHandler" />
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.helospark.sparktemplatingplugin.handlers.openDialog"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="com.helospark.SparkTemplatingPlugin.menus.sampleMenu">
            <command
                  commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand"
                  mnemonic="S"
                  id="com.helospark.SparkTemplatingPlugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.helospark.SparkTemplatingPlugin.toolbars.sampleToolbar">
            <command
                  commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="com.helospark.SparkTemplatingPlugin.toolbars.sampleCommand" style="pulldown">
            </command>
         </toolbar>
      </menuContribution>

     <menuContribution locationURI="menu:com.helospark.SparkTemplatingPlugin.toolbars.sampleCommand">
        <command commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand" label="Execute template..." style="push">
           <parameter name="z.ex.dropdown.msg" value="execute">
           </parameter>
        </command>
        <separator name="additions" visible="false" />
        <command commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand" label="Create new template" style="push">
        </command>
        <separator name="additions" visible="false">
        </separator>
        <command commandId="com.helospark.SparkTemplatingPlugin.commands.sampleCommand" label="Edit template" style="push">
        </command>
        <command commandId="com.helospark.SparkTemplatingPlugin.commands.exportCommand" label="Export templates" style="push">
        </command>
        <command commandId="com.helospark.SparkTemplatingPlugin.commands.importCommand" label="Import templates" style="push">
        </command>
     </menuContribution>
   </extension>

</plugin>
